modules = ["python-3.11"]
[nix]
packages = ["unzipNLS"]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run SuntynAI"

[[workflows.workflow]]
name = "Run SuntynAI"
author = 45281901
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
